<section class='main home'>
  <h3>I am a Seattle-based web and UI developer.</h3>
    <img src="http://faunusdesign.com/images/profile-pic.jpg" class="left th">
    <div class="pic-copy">
      <p>My passion is in creating usable and accessible websites and applications, specializing in using best practices, web standards and technologies to create dynamic and exciting user experiences. I work using HTML, CSS, Javascript, Ruby, Photoshop, Illustrator along with a variety of platforms.</p>
      <%= link_to "View my Blog", '/posts', class: 'button small radius' %>
    </div>
</section>

